@use "../abstracts/variables" as *;

.benefits {
  display: grid;
  gap: $spacing-sm;
  padding: $spacing-lg 0;
}

.benefits__grid {
  display: grid;
  gap: $spacing-sm;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
